<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="installDir" value="C:\\Program Files (x86)\\World of Warcraft" />
    <add key="userToken" value=""/>
  </appSettings>
</configuration>